#body {
    padding: 0;
    margin: 0 !important;

    width: 100vw;
    height: 100vh;
}
.chat-container {
    display: grid;
    grid-template-columns: 27vw 27vw 27vw 16vw;
    grid-template-rows: 25vh 25vh 25vh 9vh 13vh;
    grid-template-areas: 
        "window1 window2 window3 sidebar"
        "window4 window5 window6 sidebar"
        "window7 window7 window9 sidebar"
        "padding padding padding sidebar"
        "bottom  bottom  bottom  bottom";
    grid-column-gap: 0.5%;
    grid-row-gap: 0.3%;
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    background-color: black;
}

.control-side {
    grid-area: sidebar;
    background-color: darkslategrey;
    padding: 0;
    margin: 0;
}

.control-bottom {
    grid-area: bottom;
    background-color: darkslategrey;
    padding: 0;
    margin: 0;
}

.padding {
    background-color: black;
    grid-area: padding;
    padding: 0;
    margin: 0;
}

.zoomy {
    background-color: black;
    padding: 0;
    margin: 0;
}

.zoomy-video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    max-width: 100%; 
    max-height: 100%;
    width: 100px; 
    height: 50px; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
}