#body {
    padding: 0;
    margin: 0 !important;

    width: 100vw;
    height: 100vh;
}
.chat-container {
    display: grid;
    grid-template-columns: 27vw 27vw 27vw 16vw;
    grid-template-rows: 25vh 25vh 25vh 9vh 13vh;
    grid-template-areas: 
        "window1 window2 window3 sidebar"
        "window4 window5 window6 sidebar"
        "window7 window7 window9 sidebar"
        "padding padding padding sidebar"
        "bottom  bottom  bottom  sidebar";
    grid-column-gap: 0.5%;
    grid-row-gap: 0.3%;
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    background-color: black;
}

.control-side {
    grid-area: sidebar;
    background-color: darkslategrey;
    padding: 0;
    margin: 0;

    overflow: scroll;
}

.control-bottom {
    grid-area: bottom;
    background-color: darkslategrey;
    padding: 0;
    margin: 0;
}

.padding {
    background-color: black;
    grid-area: padding;
    padding: 0;
    margin: 0;
}

.zoomy {
    background-color: black;
    padding: 0;
    margin: 2px;
    outline-width: 2px;
    outline-color: greenyellow;
    outline-style: hidden;
}

.zoomy-video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    max-width: 100%; 
    max-height: 100%;
    width: 100px; 
    height: 50px; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
}

.chat-element {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 1em auto;
    grid-template-areas: 
        "image name"
        "image message";

    width: 90%;
    margin: 5%;
    height: 96px;
    background-color: black;
    color: oldlace;

    border-radius: 3px;
}

.chat-icon {
    grid-area: image;
    vertical-align: middle;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 2px;
}

.chat-name {
    grid-area: name;
    padding-left: 8px;
    font-weight: bolder;
    font-style: italic;
}

.chat-message {
    padding-top: 5px;
    padding-left: 8px;
    grid-area: message;
    overflow: hidden;
}